{% extends 'templates/base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tooltip.min.css') }}">
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5 is-narrow">
                <div class="box">
                    <h1 class="title is-3 has-text-dark has-text-centered">Accedi</h1>
                    <p class="has-text-centered">Utilizza il tuo account NebraskaPay&nbsp;
                        <span data-tooltip="Se non possiedi un account nPay,&#10;puoi crearne uno ad un qualsiasi terminale&#10;che trovi per le banche del server." class="has-tooltip-right has-tooltip-arrow has-tooltip-multiline">
                            <i class="icon far fa-question-circle"></i>
                        </span>
                    </p>
                    <hr>
                    {% if message %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                    {% endif %}
                    <form action="" method="POST">
                        <div class="field">
                            <label class="label" for="username">Username:</label>
                            <div class="control has-icons-left {% if 'username' in invalid_inputs %}has-icons-right{% endif %}">
                                <input class="input {% if 'username' in invalid_inputs %}is-danger{% endif %}" type="text" placeholder="Il tuo username di nPay" value="{{ username_value }}" name="username" id="username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                {% if 'username' in invalid_inputs %}
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                {% endif %}
                            </div>
                            {% if 'username' in invalid_inputs %}
                            <p class="help is-danger">{{ invalid_inputs['username'] }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password:</label>
                            <div class="control has-icons-left {% if 'password' in invalid_inputs %}has-icons-right{% endif %}">
                                <input class="input {% if 'password' in invalid_inputs %}is-danger{% endif %}" type="password" placeholder="La tua password di nPay" value="{{ password_value }}" name="password" id="password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                {% if 'password' in invalid_inputs %}
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                {% endif %}
                            </div>
                            {% if 'password' in invalid_inputs %}
                            <p class="help is-danger">{{ invalid_inputs['password'] }}</p>
                            {% endif %}
                        </div>
                        <div class="buttons has-addons is-centered">
                            <button class="button mt-4 is-primary is-rounded has-text-weight-bold" type="submit" style="width: 10rem;" onclick="this.classList.add('is-loading')">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}