{% extends 'templates/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>


{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <h3 class="title is-5">Statistiche</h3>
        <div class="columns">
            <div class="column">
                <div class="box statistic">
                    <div class="media ">
                        <div class="media-left image is-48x48">
                                <h3 class="icon title is-2 has-text-primary is-block"><i class="fas fa-wave-square"></i></h3>
                        </div>
                        <div class="media-content ">
                            {% if 'frequencyRegistered' in value %}
                            <p class="title is-4">{{value['frequencyRegistered']}}</p>
                            {% else %}
                            <p class="title is-4">0</p>
                            {% endif %}
                            <p class="subtitle is-6">Frequenze registrate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box statistic">
                    <div class="media ">
                        <div class="media-left image is-48x48">
                            <h3 class="icon title is-2 has-text-link is-block"><i class="fas fa-person-booth"></i>
                        </div>
                        <div class="media-content ">
                            {% if 'peopleRegistered' in value %}
                            <p class="title is-4">{{value['peopleRegistered']}}</p>
                            {% else %}
                            <p class="title is-4">0</p>
                            {% endif %}
                            <p class="subtitle is-6">Persone Registrate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box statistic">
                    <div class="media ">
                        <div class="media-left image is-48x48">
                                <h3 class="icon title is-2 has-text-dark is-block"><i class="fas fa-comments-dollar"></i></h3>
                        </div>
                        <div class="media-content ">
                            {% if 'frequencyAviable' in value %}
                            <p class="title is-4">{{value['frequencyAviable']}}</p>
                            {% else %}
                            <p class="title is-4">0</p>
                            {% endif %}
                            <p class="subtitle is-6">Frequenze disponibili</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box statistic">
                    <div class="media ">
                        <div class="media-left image is-48x48">
                                <h3 class="icon title is-2 has-text-danger is-block"><i class="fas fa-user-friends"></i></h3>
                        </div>
                        <div class="media-content ">
                            <h4 class="title is-4 ">1</h4>
                            <p class="subtitle is-6">Dione Felici</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="title is-5">Pannelli</h3>
        <div class="columns">
            <div class="column">
                <div class="panel">
                    <p class="panel-heading">Aggiunta rapida frequenza</p>
                    <div class="panel-block">
                        <form action="/api/new/frequency" method="post" class="is-fullwidth">
                            <div class="field">
                                <label for="" class="label">Numero della frequenza:</label>
                                <div class="control">
                                    <input type="number" name="frequencyNumber" id="frequencyNumber" class="input">
                                </div>
                            </div>
                            <div class="field" required>
                                <label for="" class="label">Proprietario:</label>
                                <div class="control">
                                    <input type="text" name="owner" id="owner" class="input">
                                </div>
                            </div>
                            <div class="buttons has-addons">
                                <button class="button mt-4 is-primary is-rounded has-text-weight-bold" type="submit" style="width: 10rem;" onclick="this.classList.add('is-loading')">Aggiungi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <p class="panel-heading">Server Status</p>
                    <div class="panel-block">
                        <p>Server Online!</p>
                    </div>
                </div>
                <div class="panel">
                    <p class="panel-heading">Admin</p>
                    <div class="panel-block">
                        <p>Al momento ci sono <b>2</b> admin.</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="title is-5">Frequenze</h3>
        <div class="container">
            <article id="completato3" class="message is-success follow-scroll" style="display: none">
                <div class="message-header">
                  <p>Compleatato</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    Hai eliminato con <strong>successo</strong> la riga!
                </div>
            </article>
            <article id="completato4" class="message is-success follow-scroll" style="display: none">
                <div class="message-header">
                  <p>Compleatato</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    Hai ri-allocato con <strong>successo</strong> la riga!
                </div>
            </article>
            <div class="columns">
                <div class="column">
                    <table id="table" class="table sortable is-striped is-bordered is-fullwidth">
                        <thead>
                            <tr>
                                <th class="sort" data-sort="id" onclick="sortTable(0)">ID</th>
                                <th class="sort" data-sort="owner" onclick="sortTable(1)">Proprietario</th>
                                <th class="sort" data-sort="reallocable">Ri-Allocabile</th>
                                <th class="sort" data-sort="occuped">Occupata</th>
                                <th colspan="2">
                                    <input type="text" id="search" placeholder="Cerca" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{rows|safe}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var $rows = $('#table tbody tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
    function DeleteButton(element){

    var value = element.getAttribute('value');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/delete/frequency?frequencyNumber='+value);
    xhr.onreadystatechange = function() {
        if (xhr.readyState !== 4) return;
        if (xhr.status === 200) {
            document.getElementById("completato3").style.display = "inline";
            element.parentNode.parentNode.style.display = 'none';
            setTimeout(() => { window.location.reload(false); }, 1000);
        } else {
            alert(xhr.responseText)
        }
    }

    // start request
    xhr.send();

    }
    function ChangeButton(element){

    var value = element.getAttribute('value');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/changeAllocable?frequencyNumber='+value);
    xhr.onreadystatechange = function() {
        if (xhr.readyState !== 4) return;
        if (xhr.status === 200) {
            document.getElementById("completato4").style.display = "inline";
            element.parentNode.parentNode.style.display = 'none';
            setTimeout(() => { window.location.reload(false); }, 1000);
        } else {
            alert(xhr.responseText)
        }
    }

    // start request
    xhr.send();

    }

    function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("table");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
            }
        } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
            }
        }
        }
        if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
        } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
        }
        }
    }
    }
</script>

{% endblock %}